@page
@model CommunityApp.Pages_Cities.IndexModel

@{
    ViewData["Title"] = "Cities";
}

<h1>City List</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New City</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>City ID</th>
            <th>City Name</th>
            <th>Population</th>
            <th>Province</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var city in Model.City) {
        <tr>
            <td>@city.CityId</td>
            <td>@city.CityName</td>
            <td>@city.Population</td>
            <td>@city.Province?.ProvinceName </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@city.CityId" class="btn btn-warning">Edit</a>
                <a asp-page="./Details" asp-route-id="@city.CityId" class="btn btn-info">Details</a>
                <a asp-page="./Delete" asp-route-id="@city.CityId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
